.skills-section{
    background: var(--bg);
    padding:100px 0;
    overflow:hidden;
    transition:.4s;
}

.skills-section h2{
    color: var(--text);
    text-align:center;
    font-size:55px;
    transition:.4s;
}

.skills-section h2 span{
    color: var(--primary);
}

.skills-section p{
    color: var(--text-secondary);
    text-align:center;
    margin:20px 0 70px;
    font-size:20px;
    transition:.4s;
}

.slider{
    overflow:hidden;
}

.slide-track{
    display:flex;
    gap:70px;
    width:max-content;
    animation:scroll 25s linear infinite;
}

.slider:hover .slide-track{
    animation-play-state:paused;
}

.skill{
    display:flex;
    align-items:center;
    gap:15px;
    white-space:nowrap;
}

.skill .icon{
    font-size:45px;
    transition:.3s;

    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0;
}

.skill .name{
    color: var(--text);
    font-size:26px;
    font-weight:600;
    transition:.3s;
}

.skill:hover .icon{
    transform:scale(1.2) rotate(10deg);
}

.skill:hover .name{
    color: var(--primary);
}

@keyframes scroll{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}